@use "../globals/boilerplate" as b ;


.home {
    min-height:100vh ;
    background: url("../assets/home/background-home-mobile.jpg") center/cover no-repeat;

    @media (min-width:720px) {
        background: url("../../assets/home/background-home-tablet.jpg") center/cover no-repeat;
    }

    @media (min-width:990px) {
        background: url("../../assets/home/background-home-desktop.jpg") center/cover no-repeat;
    }

    
}


.main__container {
    padding: 2.4rem;


    @media (min-width:720px) {
        width: 100%;
        padding: 12.8rem 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    @media (min-width:1220px) {
        flex-direction: row;
        gap: 3rem;
        align-items: flex-end;
        margin-top: 28.9rem;
    }
}

.desc__text {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    @media (min-width:720px) {
        width: 51.2rem;
    }

    @media (min-width:1220px) {
        width: 54rem;
    }
    
}

.desc__ques {
    color: b.$blue-300;
    font-family: b.$Barlow-Condensed-400;
    text-align: center;
    letter-spacing: 0.15em;
    font-size: 1.6rem;
    text-transform: uppercase;

    @media (min-width:720px) {
        font-size: 2.4rem;
    }

    @media (min-width:1220px) {
    text-align: left;
    font-size: 2.8rem;
    }
}


.main__text {
    font-family: b.$Bellefair;
    font-size: 8rem;
    color: b.$white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;

    @media (min-width:720px) {
        font-size: 12.4rem;
    }

    @media (min-width:1220px) {
        font-size: 14.4rem;
        text-align: left;
    }
}


.main__desc {
    font-family: b.$Barlow-400;
    color: b.$blue-300;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.8em;

    @media (min-width:720px) {
        font-size: 1.6rem;
    }

    @media (min-width:1220px) {
        font-size: 1.8rem;
        text-align: left;
    }
}


.link__con {
    display: grid;
    place-content: center;
    height: 38.3rem;

    @media (min-width:1220px) {
        height: 27.2rem;
        width: 54rem;
        justify-content: flex-end;

        
    }


}

.exp__cir {
    text-decoration: none;
    color: b.$blue-900;
    border: 1px solid #fff;
    height: 14.4rem;
    width: 14.4rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: b.$Bellefair;
    font-size: 1.8rem;
    text-transform: uppercase;
    border-radius: 50%;
    position: relative;

    &::after {
        content: " ";
        position: absolute;
        width: 160%;
        height: 160%;
        background-color: #fff;
        opacity: 0;
        border-radius: 50%;
        z-index: -1;
        transition: 0.5s;

        @media (min-width:1220px) {
        width: 165%;
        height: 165%;
    }
    }
    
    &:hover {
        color:hsla(230, 33%, 7%, 0.5) ;
        transition: 0.5s;

        &::after {
            opacity: 0.1;
        }
    }    


    @media (min-width:720px) {
        width: 27.2rem;
        height: 27.2rem;
        font-size: 3.2rem;

    }
}